main{
    height: calc(100vh - 65px);
    width: 100%;
    background-color: darkgray;
    padding: 20px 50px;
}

.card{
    min-height: 110px;
    background-color: white;
    border: 2px solid rgb(61, 60, 60);
    margin: 10px;

}