main{
    height: calc(100vh - 65px);
    width: 100%;
    background-color: darkgray;
    padding: 20px 50px;
}


.grid-Container{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 15px;
    column-gap: 20px;
}

.card{
    min-height: 110px;
    background-color: white;
    border: 2px solid rgb(61, 60, 60);
    padding: 5px;
    border-radius: 10px;

}